<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav></nav>
    </header>
    <main>
      <div>
        <h1>{{ project_object.title }}</h1>
        <p>{{ project.object.description }}</p>
        <p></p>
        <h2>Tasks</h2>
        {% if projects %}
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Assignee</th>
              <th>Start Date</th>
              <th>Due Date</th>
              <th>Is completed</th>
            </tr>
          </thead>
          <tbody>
            {% for task in projects_object.tasks.all %}
            <tr>
              <td>{{ name.name }}</td>
              <td>{{ name.assignee }}</td>
              <td>{{ name.start_date|date:"n/j/y" }}</td>
              <td>{{ name.due_date|date:"n/j/y" }}</td>
              <td>{{ name.is_completed|yesno }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p>This project has no tasks</p>
        {% endif %}
      </div>
    </main>
  </body>
</html>
