{% extends 'base.html' %}
{% block title %}
Home
{% endblock title %}
{% block content %}
<header>
  <nav>
    <nav>
      <ul>
        {% if user.is_authenticated %} Hello, {{ user.username }}
        <li>
          <a href="{% url 'show_my_tasks' %}">My tasks</a>
        </li>
        <li>
          <a href="{% url 'list_projects' %}">My projects</a>
        </li>
        <li>
          <a href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li>
          <a href="{% url 'login' %}">Login</a>
        </li>
        <li>
          <a href="{% url 'signup' %}">Signup</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </nav>
</header>
<main>
  <div>
    <div class="project-list">
    <h1>My Projects</h1>
    <a href="{% url 'create_project' %}">Create a new project</a>
    {% if projects %}
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Number of Tasks</th>
        </tr>
      </thead>
      <tbody>
        {% for project in projects.all %}
        <tr>
          <td>
            <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
          </td>
          <td>{{ project.tasks.all|length }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>You are not assigned to any projects</p>
    {% endif %}
  </div>
</main>
{% endblock content %}
