<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{% url 'list_projects' %}">Main page</a></li>
          {% if user.is_authenticated %} Hello, {{ user.username }} {% else %}
          <a href="{% url 'signup' %}">Signup</a>
          <a href="{% url 'login' %}">Login</a>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      <div>
        <h1>My Projects</h1>
        {% if projects %}
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Number of Tasks</th>
            </tr>
          </thead>
          <tbody>
            {% for project in projects.all %}
            <tr>
              <td>
                <a href="{% url 'show_project' project.id %}"
                  >{{ project.name }}</a
                >
              </td>
              <td>{{ project.tasks.all|length }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p>You are not assigned to any projects</p>
        {% endif %}
      </div>
    </main>
  </body>
</html>
